@model MyTrashCollector.Models.Customer

@{
    ViewData["Title"] = "CustomerDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Customer Details</h1>

<div>
    <h4>Customer</h4>
    <hr />
    <div class="container">
        <div class="row">
            <dl class="col-lg-6">
                <div class="row">
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.FirstName)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.FirstName)
                    </dd>
                </div>
                <div class="row">
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.LastName)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.LastName)
                    </dd>
                </div>
                <div class="row">
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.Address)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.Address.StreetAddress)
                    </dd>
                </div>
                <div class="row">
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.RegularPickupDay)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.RegularPickupDay)
                    </dd>
                </div>
                @if (Model.SpecialPickupStatus == true)
                {
                    @if (Model.SuspendStartDate != null || Model.SuspendEndDate != null)
                    {
                        <div class="row">
                            <dt class="col-sm-4">
                                @Html.DisplayNameFor(model => model.SuspendStartDate)
                            </dt>
                            <dd class="col-sm-8">
                                @Html.DisplayFor(model => model.SuspendStartDate)
                            </dd>
                        </div>
                        <div class="row">
                            <dt class="col-sm-4">
                                @Html.DisplayNameFor(model => model.SuspendEndDate)
                            </dt>
                            <dd class="col-sm-8">
                                @Html.DisplayFor(model => model.SuspendEndDate)
                            </dd>
                        </div>
                    }
                    @if (Model.AdditionalPickupDate != null)
                    {
                        <div class="row">
                            <dt class="col-sm-4">
                                @Html.DisplayNameFor(model => model.AdditionalPickupDate)
                            </dt>
                            <dd class="col-sm-8">
                                @Html.DisplayFor(model => model.AdditionalPickupDate)
                            </dd>
                        </div>
                    }
                }
                </dl>
            <div class="col-lg-6">
                <div id="map" style="height: 400px; width: 100%;"></div>

                <script>
                    let map;
                    function initMap() {
                        map = new google.maps.Map(document.getElementById("map"), {
                            center: { lat: @Model.Address.Latitude, lng: @Model.Address.Longitude },
                            zoom: 12,
                        });
                        new google.maps.Marker({
                            position: { lat: @Model.Address.Latitude, lng: @Model.Address.Longitude },
                            map,
                        });
                    }
                </script>
                <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDHR2TolBsA8nY-aSlQcan-RS_1yjg5Tkc&callback=initMap&libraries=&v=weekly"
                        defer></script>
            </div>
        </div>
    </div>
</div>
<div>
    <a asp-action="Index">View Today's Customers</a> |
    <a asp-action="ViewAllCustomers">View All Customers</a>
</div>
